# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf


.vscode/
build/
Makefile
config.log
config.status
libtool
sqlite3.pc
sqlite_cfg.h
.libs/libsqlite3.lai
.target_source
fts5.c
fts5.h
fts5parse.c
fts5parse.h
fts5parse.sql
fts5parse.y
has_tclsh84
keywordhash.h
lemon
lempar.c
mkkeywordhash
mksourceid
opcodes.c
opcodes.h
parse.c
parse.h
parse.sql
parse.y
shell.c
sqlite3
sqlite3.c
sqlite3.h
sqlite3ext.h
sqlite3session.h
src-verify
tsrc
